
<br><br>




<div class="well" style="height: 600px; text-align: center;">
<img src="img/avocado.jpg" class="img img-thumbnail" style="height: 100px; border-radius: 40px;"> 


	<h3> Sign In </h3>

	<div class="well" style="height: 55%;width: 50%; margin: 0 auto; background-color: #ecf0f1">

    <br>
    <br>

		<p> Email address or username </p>



	<div class="input-group" style="margin: 0 auto; border-radius: 10px;">

      <input type="text" class="form-control">
    </div><!-- /input-group -->

    <br>

	<p> Password</p>
	<div class="input-group" style="margin: 0 auto;  border-radius: 10px;">

      <input type="text" class="form-control">
    </div><!-- /input-group -->

    
    <br>
    <p><a class="btn btn-primary btn-lg" role="button">Login!</a></p>

	</div>
</div>


<br><br><br><br><br><br>
<br><br><br><br><br><br>
<br><br><br><br><br><br>
<br><br><br><br><br><br>
<br><br><br><br><br><br>
<br><br><br><br><br><br>
<br><br><br><br><br><br>
<br><br><br><br><br><br>